# Beta Faktor II

In [1]:
import json

import numpy as np
import pandas as pd
from bqplot import ColorScale

import ipydatagrid
from ipydatagrid import Expr, DataGrid, TextRenderer, BarRenderer

import ipysheet 
from ipysheet import from_dataframe, to_dataframe

import pandas as pd
import numpy as np

In [2]:
n = 10
df = pd.DataFrame(
    {
        "Value 1": np.random.randn(n),
        "Value 2": np.random.randn(n),
    }
)


text_renderer = TextRenderer(
    text_color="red", background_color=ColorScale(min=-5, max=5)
) 

grid = DataGrid(df, base_row_size=30, base_column_size=200, editable = True)
grid

DataGrid(base_column_size=200, base_row_size=30, default_renderer=TextRenderer(), editable=True, header_render…

## Fazit:

Export nach Dataframe ist mit ipydatagrid nicht möglich, dafür jedoch Echtzeit-
Beobachtung bei Veränderung von Daten innerhalb des Grids. Ist eventuell noch für WACC Spielereien am Ende hilfreich.

-----------------------------------------------

# Experimente mit ipysheets

In [3]:
sheet = ipysheet.sheet()

cell0 = ipysheet.cell(0, 0, 0, color = 'red', numeric_format='0.0', type='numeric')
cell1 = ipysheet.cell(1, 0, "Hello", type='text')
cell2 = ipysheet.cell(0, 1, 0.1, numeric_format='0.000', type='numeric')
cell3 = ipysheet.cell(1, 1, 15.9, numeric_format='0.00', type='numeric')
cell4 = ipysheet.cell(2, 2, "02/14/2019", date_format='MM/DD/YYYY', type='date')

sheet

Sheet(cells=(Cell(column_end=0, column_start=0, numeric_format='0.0', row_end=0, row_start=0, style={'color': …

In [4]:
#für export
ipysheet.to_dataframe(sheet)

       A     B           C     D     E
0      0   0.1        None  None  None
1  Hello  15.9        None  None  None
2   None  None  02/14/2019  None  None
3   None  None        None  None  None
4   None  None        None  None  None

In [20]:
d = {'col1': [2,8], 'col2': [3,6]}
df = pd.DataFrame(data=d)

sheet1 = ipysheet.sheet(rows=len(df.columns) +1 , columns=3) 
first_col = df.columns.to_list()
first_col.insert(0, 'Attribute')
column =  ipysheet.column(0, value = first_col, row_start = 0) 
cell_value1 = ipysheet.cell(0, 1, 'Format')
cell_value2 = ipysheet.cell(0, 2, 'Description')
sheet1

Sheet(cells=(Cell(column_end=0, column_start=0, row_end=2, row_start=0, squeeze_row=False, type='text', value=…

In [6]:
column1_value

NameError: name 'column1_value' is not defined

In [7]:
head = ['Unternehmen','Tägliches Handelsvolumen (30T)', 'Levered Beta', 'Marktwert Fremdkapital', 'Marktwert Eigenkapital', 'Eigenkapital/Vermögen', 'Steuersatz', 'Unlevered Beta' ]

beta = ipysheet.sheet(rows=8, columns = 7, row_headers = ['','','','','','','',''], column_headers = head)
#cell = ipysheet.cell(row=0)

#dat = to_dataframe(beta)

#dat.loc[0,2] = np.nan

beta

Sheet(column_headers=['Unternehmen', 'Tägliches Handelsvolumen (30T)', 'Levered Beta', 'Marktwert Fremdkapital…

In [8]:
beta

Sheet(column_headers=['Unternehmen', 'Tägliches Handelsvolumen (30T)', 'Levered Beta', 'Marktwert Fremdkapital…

In [11]:
beta = ipysheet.sheet(rows =10, columns =5)
column = ipysheet.column(column = 1, value=np.random.rand(10),color ='red', row_start=0)
#@ipysheet.calculation(inputs=[(cell1, 'value'), cell3], output=ipysheet.cell(3,2))
row = ipysheet.row(row=1,value=list('12345'))
display(beta)
display(sheet)

Sheet(cells=(Cell(column_end=1, column_start=1, row_end=9, row_start=0, squeeze_row=False, style={'color': 're…

Sheet(cells=(Cell(column_end=0, column_start=0, numeric_format='0.0', row_end=0, row_start=0, style={'color': …

In [10]:
ipysheet.to_dataframe(beta)

#beta['Eigenkapital/Vermögen'] = beta['Marktwert Eigenkapital']+(beta['Marktwert Fremdkapital']+beta['Marktwert Eigenkapital'])

      A                     B     C     D     E
0  None   0.37264204447087035  None  None  None
1     1                     2     3     4     5
2  None    0.7557834310324716  None  None  None
3  None   0.30939927784947663  None  None  None
4  None    0.6855130849431408  None  None  None
5  None   0.28251450404537715  None  None  None
6  None  0.055167726140270545  None  None  None
7  None    0.8199726541284357  None  None  None
8  None    0.2245185077518238  None  None  None
9  None    0.8781811115927448  None  None  None

In [12]:
median()

NameError: name 'median' is not defined

In [13]:
df = ipysheet.to_dataframe(sheet)
df

       A     B           C     D     E
0      0   0.1        None  None  None
1  Hello  15.9        None  None  None
2   None  None  02/14/2019  None  None
3   None  None        None  None  None
4   None  None        None  None  None

In [14]:
df['Cath'] = 7
df

       A     B           C     D     E  Cath
0      0   0.1        None  None  None     7
1  Hello  15.9        None  None  None     7
2   None  None  02/14/2019  None  None     7
3   None  None        None  None  None     7
4   None  None        None  None  None     7

In [15]:
sheet = from_dataframe(df)
sheet

Sheet(cells=(Cell(column_end=0, column_start=0, numeric_format=None, row_end=4, row_start=0, squeeze_row=False…

In [19]:
df2 = pd.read_excel('beta.xlsx', header=1)
head = df2
df2transpose

,Vergleichsunternehmen,Unnamed: 1,Tägl. Handels-volumen (30T),Levered Beta,Marktwert d. Fremdkapitals,Marktwert d. Eigenkapitals,Fremdkapital / Eigenkapital,Eigenkapital / Vermögen,Steuersatz,Unlevered Beta,Relevered Beta
0,Consti Group Plc,NaN,4.312611e+07,0.721881,4.196223e+07,4.312611e+07,0.973012,0.506839,0.179000,0.401303,NaN
1,Hutter & Schrantz Stahlbau AG,NaN,4.576986e+07,0.842969,1.885646e+07,4.576986e+07,0.411984,0.708223,0.233438,0.640645,NaN
2,Ediliziacrobatica SpA,NaN,5.013511e+07,0.217353,5.185118e+07,5.013511e+07,1.034229,0.491587,0.329663,0.128362,NaN
3,Muehlhan AG,NaN,5.778856e+07,0.599620,2.934923e+07,5.778856e+07,0.507873,0.663186,0.346550,0.450209,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Median,NaN,NaN,0.660750,3.565573e+07,4.795248e+07,0.740442,0.585013,0.281550,0.425756,NaN
11,Mittelwert,NaN,NaN,0.595456,3.550478e+07,4.920491e+07,0.731775,0.592459,0.272163,0.405130,NaN

## Calculating

In [16]:
from ipysheet import calculation, sheet, row, column, cell_range
from random import randint

In [17]:

newsheet = ipysheet.sheet()
#data = [[randint(-10,10)for j in range(4)] for j in range(3)]

cell1 =ipysheet.cell(row=0, column=0, value=0)
cell2 =ipysheet.cell(row=1, column=0, value=5)
cell3 =ipysheet.cell(row=2, column=0, value=25)
cellsum =ipysheet.cell(row=3, column=0, value=sum([cell1.value,cell2.value]))
sumcell =ipysheet.cell(row=3, column=2)

def update(change):
    sumcell.value = cell1.value + cell2.value
    
#observe change in Realtime

cell1.observe(update, 'value')
cell2.observe(update, 'value')


newsheet

Sheet(cells=(Cell(column_end=0, column_start=0, row_end=0, row_start=0, type='numeric', value=0), Cell(column_…